<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Invoice_Generator.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Invoice_Generator.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="NIP" serializeAs="String">
                <value/>
            </setting>
            <setting name="Street" serializeAs="String">
                <value/>
            </setting>
            <setting name="PostalCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="City" serializeAs="String">
                <value/>
            </setting>
            <setting name="Number" serializeAs="String">
                <value/>
            </setting>
            <setting name="BankAccount" serializeAs="String">
                <value/>
            </setting>
        </Invoice_Generator.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>